@font-face {
    font-family: 'Anybody';
    src: url('./assets/fonts/Anybody_ExtraExpanded-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('./assets/fonts/InterTight-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('./assets/fonts/InterTight-Bold.ttf');
    font-weight: 800;
}